<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{view.index.title}">Welcome!</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
        <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>

        <!--GOOGLE MAPS API-->
        <script type="text/javascript"
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAsVqHtStTbSymM7tKdrdD54-YcehXvkBw">
        </script>
        <!--GOOGLE MAPS API-->
        <!--APP-->
        <script type="text/javascript" src="../../../resources/js/baseApp.js"></script>
        <!--APP-->
    </head>
    <body>
        <div th:replace="fragments/header :: header">&nbsp;</div>
        <div id="bigMap"></div>
        <div th:replace="fragments/footer :: footer">&nbsp;</div>
    </body>
</html>