.form-narrow {
    max-width: 490px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
html{
    height: 100%;
}
body { height: 100%; padding: 50px 0 0 0;}
#bigMap {
    height: 100%;
}
body.home{
    background: url('../images/home.jpg') center center no-repeat fixed;
    background-size: cover;
}
body.home form{
    background-color: rgba(255,255,255,0.8);
    margin-top: 20%;
}
#truckInfo{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    background: rgba(0,0,0,0.65);
    color: whitesmoke;
    overflow: auto;
    z-index: 2;
}
.truckInfoInner{
    margin: 20px;
    font-size: 16px;
}
.truckInfoInner ul,
#trucksUl ul{
    list-style: none;
}
.truckInfoInner table tr td{
    width: 17%;
}
.truckInfoInner table tr td.summaryLable{
    width: 5%;
}
#truckRecentInfoChart{
    margin: 10px 0 0 0;
}
#truckRecentInfoChart text{
    fill: rgba(255,255,255,1)!important;
}
span.red{
    color: #ff3a3a;
    text-shadow: 0px 0px 2px #000;
}


#trucksUl{
    top:50px;
    width: 160px;
    position: fixed;
    right: -150px;
    background: rgba(0,0,0,0.65);
    color: whitesmoke;
    border-bottom-left-radius: 4px;
    transition: all 500ms ease-in-out;
}
#trucksUl.opened{
    right: 0;
}
#trucksUl.partialOpened{
    right: -120px;
}
#trucksUl h4{
    text-align: center;
}
#trucksUl ul li{
    border-bottom: 1px whitesmoke solid;
    padding: 4px;
    width: 100px;
}
#trucksUl ul li:last-of-type{
    border-bottom: none;
}
#trucksUl ul li:hover{
    font-weight: bold;
    cursor: pointer;
}
.navbar-toggle.visible:focus{
    outline: none;
}
.navbar-toggle.visible{
    display: block!important;
    margin: 0 0 0 -44px;
    background: rgba(0,0,0,0.65);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.navbar-toggle .icon-bar:nth-of-type(2) {
    top: 1px;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
    top: 2px;
}

.navbar-toggle .icon-bar {
    position: relative;
    transition: all 500ms ease-in-out;
    background-color:#fff;
}

.navbar-toggle.active .icon-bar:nth-of-type(1) {
    top: 6px;
    transform: rotate(45deg);
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
    background-color: transparent;
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
    top: -6px;
    transform: rotate(-45deg);
}
