<div class="truckInfoInner">
    <div class="pull-right">
        <button type="button" class="btn btn-info" id="showChart">Show Chart</button>
        <button type="button" class="btn btn-info hide" id="hideChart">Hide Chart</button>
    </div>
    <ul>
        <li><b>Speed: </b><%=model.get("speed")%></li>
        <li><b>Pressure: </b><%=model.get("pressure")%></li>
        <li><b>Yield: </b><%=model.get("yield")%></li>
        <li><b>Viscosity: </b><%=model.get("viscosity")%></li>
        <li><b>Slump: </b><%=model.get("slump")%></li>
        <li><b>Temperature: </b><%=model.get("tempProbe")%></li>
        <li><b>Volume: </b><%=model.get("volume")%></li>
        <li><b>Truck No: </b><%=model.get('truckNo')%></li>
    </ul>
    <div class="clearfix"></div>
    <div id="truckRecentInfoChart"></div>
</div>