<div class="truckInfoInner">
    <div class="pull-right">
        <button type="button" class="btn btn-info" id="showChart">Show Chart</button>
        <button type="button" class="btn btn-info hide" id="hideChart">Hide Chart</button>
    </div>
    <ul>
        <li><b>Speed: </b><span class="red"><%=model.get("speed")%></span></li>
        <li><b>Pressure: </b><span class="red"><%=model.get("pressure")%></span></li>
        <li><b>Yield: </b><span class="red"><%=model.get("yield")%></span></li>
        <li><b>Viscosity: </b><span class="red"><%=model.get("viscosity")%></span></li>
        <li><b>Slump: </b><span class="red"><%=model.get("slump")%></span></li>
        <li><b>Temperature: </b><span class="red"><%=model.get("tempProbe")%></span></li>
        <li><b>Volume: </b><span class="red"><%=model.get("volume")%></span></li>
        <li><b>Truck No: </b><span class="red"><%=model.get('truckNo')%></span></li>
    </ul>
    <div class="clearfix"></div>
    <div id="truckRecentInfoChart"></div>
</div>