<div class="truckInfoInner">
    <ul>
        <li><b>Speed: </b><%=model.get("speed")%></li>
        <li><b>Pressure: </b><%=model.get("pressure")%></li>
        <li><b>Yield: </b><%=model.get("yield")%></li>
        <li><b>Viscosity: </b><%=model.get("viscosity")%></li>
        <li><b>Voltage: </b><%=model.get("batteryVoltage")%></li>
        <li><b>Slump: </b><%=model.get("slump")%></li>
        <li><b>Temperature: </b><%=model.get("tempProbe")%></li>
        <li><b>Volume: </b><%=model.get("volume")%></li>
    </ul>
</div>